{% extends 'adminpanel/base.html' %}
{% block title %} add - coupons {% endblock%}

{% block content %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body col-12">
            <h4 class="card-title">Add Coupon</h4>
            <p class="card-description">Add new coupons here</p>
            <form class="forms-sample" method="POST" action="{% url 'add_coupon' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">

                        <div class="d-flex">
                            <div class="form-group col-6">
                                <label for="exampleInputName1">Coupon Code</label>
                                <input 
                                type="text" 
                                class="form-control" 
                                id="coupon_code" 
                                name ="coupon_code" 
                                placeholder="enter coupon code...."
                                required>
                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputName1">Min amount</label>
                                <input 
                                type="text" 
                                class="form-control" 
                                id ="min_amount"
                                name ="min_amount"
                                placeholder="enter minimum amount"
                                required>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="form-group col-6">
                                <label for="exampleInputName1">off percentage</label>
                                <input 
                                type="text" 
                                class="form-control" 
                                id="off_percent" 
                                name ="off_percent" 
                                placeholder="enter off percentage...."
                                required>
                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputName1">max discount</label>
                                <input 
                                type="text" 
                                class="form-control" 
                                id ="max_discount"
                                name ="max_discount"
                                placeholder="enter maximum discount"
                                required>
                            </div>
                        </div>

                        <div class="d-flex">
                            
                            <div class="form-group col-6">
                                <label for="exampleInputName1">Expairy date</label>
                                <input 
                                type="date" 
                                class="form-control" 
                                id="expairy_date"
                                name = "expairy_date" 
                                placeholder="enter expairy date of the coupon"
                                required>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    
            </form>
            <a href="{% url 'coupons_list' %}">
                <button class="btn btn-dark">Cancel</button>
            </a>
            
        </div>
    </div>
</div>

{% endblock content %}