{% extends 'adminpanel/base.html' %}
{% block title %} Edit - offer {% endblock%}

{% block content %}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body col-12">
            <h4 class="card-title">Add offer</h4>
            <p class="card-description">Add new os here</p>
            <form class="forms-sample" method="POST" action="{% url 'edit_offer' offer.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">

                        <div class="d-flex">
                            <div class="form-group col-6">
                                <label for="exampleInputName1">Offer Name</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="offer_name" 
                                    name ="offer_name" 
                                    placeholder="{{ offer.name }}"
                                    value="{{ offer.name }}"
                                required>
                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputName1">Offer percentage</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id ="off_percent"
                                    name ="off_percent"
                                    placeholder="{{ offer.off_percent }}"
                                    value="{{ offer.off_percent }}"
                                required>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="form-group col-6">
                                <label for="exampleInputName1">Start Date</label>
                                <input 
                                    type="date" 
                                    class="form-control" 
                                    id="start_date" 
                                    name ="start_date" 
                                    placeholder="{{ offer.start_date }}"
                                    value="{{ offer.start_date }}"
                                required>
                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputName1">End date</label>
                                <input 
                                    type="date" 
                                    class="form-control" 
                                    id ="end_date"
                                    name ="end_date"
                                    placeholder="{{ offer.end_date }}"
                                    value="{{ offer.end_date }}"
                                required>
                            </div>
                        </div> 
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    
            </form>
            <a href="adminpanel/adminlogin.html">
                <button class="btn btn-dark">Cancel</button>

            </a>
            
        </div>
    </div>
</div>

{% endblock content %}