{% extends 'adminpanel/base.html' %}
{% block title %}
    admin panel-product-reviews
{% endblock %}
        {% block content %}
          <!-- partial -->
          <div class="main-panel">




              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-row justify-content-between">
                        <h4 class="card-title">Reviews</h4>
                        {% comment %} <p class="text-muted mb-1 small">View all</p> {% endcomment %}
                      </div>
                      <div class="preview-list">

                        {% for review in reviews %}
                        <div class="preview-item border-bottom">
                          <div class="preview-icon bg-primary">
                            <i class="mdi mdi-account-outline"></i>
                          </div>
                          <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                              <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <h6 class="preview-subject">{{ review.user.username }}</h6>
                                <p class="text-muted text-small">{{ review.created_at }}</p>
                              </div>
                              <p class="text-muted">{{ review.text }}</p>
                              <h6 class="text-muted">Rating : {{ review.rating }}</h6>
                            </div>
                          </div>
                        </div>
                        {% endfor %}


                      </div>
                      <!-- Display pagination links -->
                      <div class="pagination">
                        <span class="step-links">
                          {% if current_page.has_previous %}
                            <a href="?page=1" class="text-white">&laquo; first</a>
                            <a href="?page={{ current_page.previous_page_number }}">
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                              </svg>   
                            </a>
                          {% endif %}
                                          
                          <span class="current">
                            Page {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
                          </span>
                                          
                          {% if current_page.has_next %}
                            <a href="?page={{ current_page.next_page_number }}"class="text-black">
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                              </svg>
                            </a>
                            <a href="?page={{ current_page.paginator.num_pages }}" class="text-white">last &raquo;</a>
                          {% endif %}
                        </span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            


              <!-- Your existing HTML code -->
           


        {% endblock content %}
      