{% extends 'adminpanel/base.html' %}
{% block title %}
    admin panel user details
{% endblock %}
{% block content %}
<div class="row col-12">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">User details</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-muted m-0">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                      </label>
                    </div>

                  </th>
                  <th> Username </th>
                  <th> First Name </th>
                  <th> Last Name </th>
                  <th> E-Mail </th>
                  <th> Action </th>
                </tr>

              </thead>
              <tbody>
                {% for user in users %}
                {% if not user.is_superuser %}
                <tr>
                    <td>
                        <div class="form-check form-check-muted m-0">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                            </label>
                        </div>
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.is_active  %}
                        <a href="{% url 'block_user' user.id %}">
                          <div class="badge badge-outline-danger">BLOCK</div>
                        </a>
                        {% else %}
                        <a href="{% url 'unblock_user' user.id %}">
                          <div class="badge badge-outline-success">UNBLOCK</div>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            
        
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}