
{% extends 'temp_home/base.html' %}
{% block title %} BookStall-About Us {% endblock title %}
    </header>
    <main>
        {% block content %} 
        
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area " >
            <div class="hero-cap text-center">
                <h2>About Us</h2>
            </div>
        </div>
        <!-- Hero Area End-->
        <!-- About Details Start -->
        <div class="about-details section-padding">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>Our Vision</h4>
                            <p>At our e-commerce website dedicated to selling books, our vision is to foster a global 
                                community of passionate readers and learners. We strive to be more than just an online bookstore; 
                                we want to create a haven where book lovers can discover, explore, and connect with their favorite 
                                authors and literary works. Our aim is to curate an extensive collection of
                                 diverse and thought-provoking books that cater to readers of all ages and interests. 
                                 By providing a seamless and user-friendly shopping experience, we aspire to inspire a love for 
                                 reading and learning that transcends borders and cultures. We envision our platform as a place where knowledge, 
                                 imagination, and creativity intertwine, empowering individuals to expand their horizons and contribute positively to the world.
                            </p>
                        </div>

                        <div class="about-details-cap mb-50">
                            <h4>Our Mission</h4>
                            <p>At our e-commerce website, we are on a mission to make quality books accessible to readers worldwide. 
                                Through our carefully selected inventory and personalized recommendations, we seek to connect readers 
                                with books that resonate with their interests and aspirations. Our mission goes beyond mere transactions; 
                                we are committed to fostering a thriving reading community by hosting virtual book clubs, author meet-ups, and 
                                literary events that encourage meaningful discussions and the exchange of ideas. As avid readers ourselves, we are dedicated 
                                to continuously improving our platform, enhancing user experiences, and adapting to the evolving landscape of publishing and technology.
                                Our mission is grounded in the belief that books have the power to enrich lives, broaden perspectives, and ignite a passion for lifelong learning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Details End -->
      

        {% endblock content %}
        