{% extends 'temp_home/base.html' %}
{% block title %} Checkout {% endblock title %}

        {% block content %} 
                 <!-- Hero Area Start-->
                 <div class="slider-area ">
                    <div class="hero-cap text-center">
                        <h2>Payment</h2>
                    </div>
                </div>
                 <!-- Hero Area End-->
                 <div class="col-lg-12 container order_box">
                    <div class="order_box">
                      <h2>Your Order</h2>
                      <h2><strong>name : </strong>{{ order.user.first_name }} {{ order.user.last_name }}</h2>
                      <ul class="list">
                        <li>
                          <a href="#"><strong>Product</strong>
                            <span><strong>Price</strong></span>
                          </a>
                        </li>
                        {% for cart_item in cart_items %}
                        <li>
                          <a href="#">{{ cart_item.product.product_name }}
                            <span class="middle">{{ cart_item.quantity }} </span>
                            {% if cart_item.product.offer and not cart_item.product.offer.is_expired %}
                            <span class="last">₹ {{ cart_item.sub_total_with_offer }}</span>
                            {% elif cart_item.product.category.offer and not cart_item.product.category.offer.is_expired %}
                            <span class="last">₹ {{ cart_item.sub_total_with_category_offer }}</span>
                            {% else %}
                            <span class="last">₹ {{ cart_item.sub_total }}</span>
                            {% endif %}
                          </a>
                        </li>
                        {% endfor %}
            
                      </ul>
                      <ul class="list list_2">
                        <li>
                          <a href="#">Subtotal
                            <span>₹ {{ og_total }}</span>
                          </a>
                        </li>
                        <li>
                          {% if cart.coupon.offer %}
                          <a href="#">Coupon offer
                            <span>₹ {{ discount_amount }}</span>
                          </a>
                          
                        </li>
                        {% endif %}
                        <li>
                          <a href="#">Shipping
                            <span>Flat rate: ₹ 0 </span>
                          </a>
                        </li>
                        <li>
                          <a href="#">Total
                            <span>{{ total }}</span>
                          </a>
                        </li>
                      </ul>
                      
                      <a class="btn_3" href="{% url 'payments' %}">Cash On Delivery</a>

                      
                      <br>
                      <button class="btn_3 col-12" id="rzp-button1" >Pay Now</button>
                    </div>
                  </div>
            
        		<!-- Razorpay  -->
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		
          <script>
            var options = {
                "key": "rzp_test_fvvWsATyrA034l", // Enter the Key ID generated from the Dashboard
                "amount": "{{ payment.amount }}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "BookStall",
                //"redirect": true,
                //"callback_url": "http://127.0.0.1:8000/order/presuccess/",
                "description": "Purchase",
                "image": "https://example.com/your_logo",
                "order_id": "{{ order_id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    //var paymetnStatus = response.razorpay_payment_staus;
                   //if (paymetnStatus === "captured"){
                      //handle_payment_success(response);
                    //} else {
                     // handle_payment_failure(response);
                    //}
                      console.log('response  :',response)

                    window.location.href='http://127.0.0.1:8000/order/payment_success/'
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
        
            var rzp1 = new Razorpay(options);
        
            rzp1.on('payment.failed', function (response) {
              //console.log(response)
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
            });
        
            document.getElementById('rzp-button1').onclick = function (e) {
                let pId=rzp1.open();
                e.preventDefault();
                console.log("pId"+pId)
            }
        </script>
        

      

        {% endblock content %}
        