{% load static %}
<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BookStall Sign-up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">
    <!-- CSS here -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/assets/css/flaticon.css">
        <link rel="stylesheet" href="/static/assets/css/slicknav.css">
        <link rel="stylesheet" href="/static/assets/css/animate.min.css">
        <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/static/assets/css/slick.css">
        <link rel="stylesheet" href="/static/assets/css/nice-select.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="/static/assets/css/signup.css">
</head>
<body>
    <header>

    <main>
        <!-- Hero Area Start-->
<!-- Hero Area End-->
<!--================signup_part Area =================-->
<section class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="slider-area ">
        <div class="single-slider  d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Forgot Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================login_part Area =================-->
    <section class="login_part">
        <div class="container">
            <!-- Notifications container -->
            <div class="container">
                {% for message in messages %}
                <div class="alert
                    {% if message.tags == 'success' %}alert-success
                    {% elif message.tags == 'error' %}alert-danger
                    {% elif message.tags == 'warning' %}alert-warning
                    {% endif %}
                    alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            <div class="row align-items-center">
                
                <form action="{% url 'forgot_password' %}" method="POST">
                    {% csrf_token %}
                              <h4>Enter you email for resetting your password</h4> 
                    <div class="field">
                       <input name="email" id = "email" 
                       {% if otp %} value="{{user.email}}" type="hidden" 
                       {% else %} type="email" 
                       {% endif %} required>
                    </div>
                    {% if otp %}
                    <div class="field">
                       <input type="password"  name="otp" id = "otp" required>
                       <label>OTP</label>
                    </div>
                    <div class="field">
                        <input type="submit" value="Login">
                     </div>
                    {% else %}
                    <div class="field">
                        <input   type="submit" value="Get OTP">
                     </div>
                    {% endif %}
                 </form>

            </div>
        </div>
    </section>
    <!--================login_part end =================-->

    </main>

    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    
    <!-- JS here -->

    <script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/assets/js/popper.min.js"></script>
    <script src="./static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/assets/js/owl.carousel.min.js"></script>
    <script src="./static/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./static/assets/js/wow.min.js"></script>
    <script src="./static/assets/js/animated.headline.js"></script>
    
    <!-- Scroll up, nice-select, sticky -->
    <script src="./static/assets/js/jquery.scrollUp.min.js"></script>
    <script src="./static/assets/js/jquery.nice-select.min.js"></script>
    <script src="./static/assets/js/jquery.sticky.js"></script>
    <script src="./static/assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./static/assets/js/contact.js"></script>
    <script src="./static/assets/js/jquery.form.js"></script>
    <script src="./static/assets/js/jquery.validate.min.js"></script>
    <script src="./static/assets/js/mail-script.js"></script>
    <script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./static/assets/js/plugins.js"></script>
    <script src="./static/assets/js/main.js"></script>

</body>
    
</html>


























{% comment %} 


{% extends 'temp_home/base.html' %}

{% block title %} Forgot password {% endblock title %}

{% block content %}

<!-- Hero Area Start-->
<div class="">
    <div class="text-center">
        <h2>Forgot Password</h2>
    </div>
</div>
<!-- Hero Area End-->
<!--================ user change password part start =================-->
<section class="confirmation_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-items-center">
                <h5>change your password</h5>

            </div>
            <div class="col-lg-12 col-lx-12">
                <div class="single_confirmation_details">

                </div>
                <br>
            </div>
            <br>
            <br>
        </div>
    </div>
</section>
<!--================ user change password part end =================-->

{% endblock content %} {% endcomment %}
