{% load static %}
<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BookStall Sign-up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">
    <!-- CSS here -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/assets/css/flaticon.css">
        <link rel="stylesheet" href="/static/assets/css/slicknav.css">
        <link rel="stylesheet" href="/static/assets/css/animate.min.css">
        <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/static/assets/css/slick.css">
        <link rel="stylesheet" href="/static/assets/css/nice-select.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="/static/assets/css/signup.css">
</head>
<body>
    <header>

    <main>
        <!-- Hero Area Start-->
<!-- Hero Area End-->
<!--================signup_part Area =================-->
<section class="vh-100 gradient-custom">
  <div class="slider-area">
      <div class="single-slider d-flex align-items-center">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>Reset password</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container py-5 h-100">
      {% if otp %}
      <div class="container">
          <div class="title">E-mail OTP verification</div>
          <p class="text-center"><strong>Check your email for OTP</strong></p>
          <div class="content">
              <form method="post" action="{% url 'signup' %}">
                  {% csrf_token %}
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong></strong>{{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endfor %}
                  {% endif %}
                  <div class="user-details">
                      <div class="input-box">
                          <input type="hidden" name="email" value="{{ user.email }}">
                      </div>
                      <div class="input-box">
                          <input required minlength="4" maxlength="4" type="text" class="form-control" id="name"
                              name="otp" placeholder="Enter Your OTP" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter Your OTP'">
                      </div>
                      <div>
                          <input class="genric-btn danger" type="submit" value="Confirm OTP">
                      </div>
                  </div>
              </form>
          </div>
      </div>
      {% else %}
      <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">

                  <form action="{% url 'reset_password' %}" method="POST">
                      {% csrf_token %}
                      {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          <strong></strong>{{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert"
                              aria-label="Close"></button>
                      </div>
                      {% endfor %}
                      {% endif %}
                      <h4>Enter your new Password</h4>
                      <input name="email" value="{{ user.email }}" type="hidden">
                      <div class="field">
                          <input name="pass1" id="pass1" type="password" required>
                          <label>New Password</label>
                      </div>
                      <div class="field">
                          <input type="password" name="pass2" id="pass2" required>
                          <label>Confirm Password</label>
                      </div>
                      <div class="field">
                          <input type="submit" value="Confirm">
                      </div>
                  </form>

              </div>
          </div>
      </div>
      {% endif %}
  </div>
</section>


    </main>

    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    
    <!-- JS here -->

    <script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/assets/js/popper.min.js"></script>
    <script src="./static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/assets/js/owl.carousel.min.js"></script>
    <script src="./static/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./static/assets/js/wow.min.js"></script>
    <script src="./static/assets/js/animated.headline.js"></script>
    
    <!-- Scroll up, nice-select, sticky -->
    <script src="./static/assets/js/jquery.scrollUp.min.js"></script>
    <script src="./static/assets/js/jquery.nice-select.min.js"></script>
    <script src="./static/assets/js/jquery.sticky.js"></script>
    <script src="./static/assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./static/assets/js/contact.js"></script>
    <script src="./static/assets/js/jquery.form.js"></script>
    <script src="./static/assets/js/jquery.validate.min.js"></script>
    <script src="./static/assets/js/mail-script.js"></script>
    <script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./static/assets/js/plugins.js"></script>
    <script src="./static/assets/js/main.js"></script>

</body>
    
</html>























